@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');


/* custom properties  */
:root {
    --padding-container: 100px 0;
    --color-title:#7fb285 ;
}
/*-------------------------- */


/* FUENTE */
body {
    font-family: 'Poppins', sans-serif;
    background:#7fb285;
}

/*-------------------------- */


.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow:hidden;
    padding: var(--padding-container);
    
    
}

#contact{
background-image: 50%;
}

#evento{
    background: #dcb3a0;
    
}
/* MAIN*/

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
    
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #00000027 0%, #00000012 100%), url('../img/photo-1592738721415-9895c731193e.jfif');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;

}
/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 100px;
    text-align: center;
}

.hero__title {
    font-size: 3rem;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color:#da6b82;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.cta:hover {
	transform: scale(0.95);
}

/*-------------------------- */

/* Nav */

nav a:hover{
    color:#da6b82 !important;
    }

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: #fff;
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}
.nav__logo{
    cursor: pointer;
}
.nav__img {
    display: block;
    width: 30px;
}


.nav__close {
    display: var(--show, none);
}
/*-------------------------- */






/* About  Evento*/

.about {
    text-align: justify;

}

.subtitle {
    color: var(--color-title);
    font-size: 2rem;
    margin-bottom: 25px;
  
}

.about__paragraph {
    line-height: 1.7;
    text-align: justify;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
    
}
main{
    background-color:rgba(220, 179, 160, 0.25);
   
}

video{
    /* width:"98";
         height:"48"; */
        float: none;
        width: 90%;
        margin: 0 auto;
        border-radius: 3rem;
        margin-left: 40px;
}


/*-------------------------- */


/* Nosotros*/


.knowledge {
    background-color: #7fb285;
    background-image: radial-gradient( #7fb285 0.5px, transparent 0.5px), radial-gradient(#bdb397, #bdb397 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
    overflow: hidden;
}

.knowledge__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    align-items: center;
}

.knowledge__picture{
    max-width: 500px;
}

.knowledge__paragraph{
    line-height: 1.7;
    margin-bottom: 15px;
}

.knowledge__img{
    width: 100%;
    display: block;
}
/*-------------------------- */


/* Contacto*/

/* Forms */
form .form-group {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    color:white;
    font-weight: bolder;
}

.subtitle-form{

    font-size: 2.2rem;
    margin: 0 auto;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#7fb285 ;
}
.contact-form{
    width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-group input{
    width: 90%;
    height: 30px;
    margin: 0.78rem;
}
.form_cta{

    background-color:#c45d73;
    width: 100%;
    max-width: 600px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 28px;
    border:none;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;



}

section.contact{
    margin:0px;
    width: 100%;
    padding: var(--padding-container);
    }
/*-------------------------- */

/* Testimony */

.testimony{
    background-color:#bdb397;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
    
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: royalblue;
    color: #fff;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

/*-------------------------- */

/* Footer */

.footer{
    background-color: #1D293F;
}

.footer__title{
    font-weight: 300;
    font-size: 2rem;
    margin-bottom: 30px;
}

.footer__title, .footer__newsletter{
    color: #fff;
}


.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 60px;

}

.nav--footer{
    padding-bottom: 20px;
    display: grid;
    gap: 1em;
    grid-auto-flow: row;
    height: 100%;
}



.footer__copy{
    --padding-container: 30px 0;
    text-align: center;
    color: #fff;

}

.footer__copyright{
    font-weight: 300;
}

.footer__icons{
    margin-bottom: 10px;
}

.footer__img{
    width: 40px;
}

.footer{
     background-color: #463239; 
 
}
/*----------CLIMA---------------- */


  .card {
    background: #7FB285;
    color: white;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
  }
  
  .search {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  button {
    margin: 0.5em;
    border-radius: 50%;
    border: none;
    height: 44px;
    width: 44px;
    outline: none;
    background: #7c7c7c2b;
    color: white;
    cursor: pointer;
    transition: 0.2s ease-in-out;
  }
  
  input.search-bar {
    border: none;
    outline: none;
    padding: 0.4em 1em;
    border-radius: 24px;
    background: #7c7c7c2b;
    color: white;
    font-family: inherit;
    font-size: 105%;
    width: calc(100% - 100px);
  }
  
  button:hover {
    background: #7c7c7c6b;
  }
  
  h1.temp {
    margin: 0;
    margin-bottom: 0.4em;
  }
  
  .flex {
    display: flex;
    align-items: center;
  }
  
  .description {
    text-transform: capitalize;
    margin-left: 8px;
  }
  
 


#redes{
    background-color: #463239; 
    margin-left: 0%;
    margin-right:0%;
}